aiofiles
aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-doc
annotated-types
anyio
asgiref
attrs
bcrypt
beautifulsoup4
billiard
blinker
boto3
botocore
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
comtypes
cryptography
distlib
distro
dj-database-url
dj-rest-auth
Django
django-allauth
django-cors-headers
django-crispy-forms
djangorestframework
djangorestframework-simplejwt
dnslib
dnspython
dotenv
EasyProcess
ecdsa
entrypoint2
fastapi
filelock
Flask
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
gradio_client
grpcio
grpcio-status
gunicorn
h11
hf-xet
httpcore
httplib2
httptools
httpx
huggingface_hub
idna
itsdangerous
Jinja2
jmespath
kombu
markdown-it-py
MarkupSafe
mdurl
motor
MouseInfo
mss
multidict
numpy
opencv-python-headless
packaging
passlib
phonenumbers
Pillow
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic-settings
pydantic_core
PyGetWindow
Pygments
PyJWT
pymongo
PyMsgBox
pyparsing
PyPDF2
pyperclip
pypiwin32
PyRect
pyscreenshot
PyScreeze
python-dateutil
python-dotenv
python-jose
python-multipart
pyttsx3
pytweening
pytz
pywhatkit
pywin32
PyYAML
redis
replicate
requests
rich
rsa
s3transfer
shellingham
six
sniffio
sounddevice
soupsieve
SpeechRecognition
sqlparse
starlette
tenacity
tqdm
typer
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uuid
uvicorn
vine
virtualenv
virtualenvwrapper-win
watchfiles
wcwidth
websockets
Werkzeug
whitenoise
wikipedia
yarl
rest_framework_simplejwt